*.o
window/
*.yaml
vendor/gsl-1.9/
*~
*.esproj/
*.xcodeproj
*.wordmap
target_words
key
*.tar.gz
sample/
tiny/
trials/
ocw
gen_sv
focw
report
clustering.txt
data/
*.target_corpus
*.sparsefile
gmon.out
*.png
*.dat
*.plt
*.pdf
*.eps
*.report
*debug*
corpora/
build/
*.tex
*.nlda*
*.focw
*.reps
.*
nlda2
ntm
